VITE_OIDC_AUTHORITY=
VITE_OIDC_CLIENT_ID=
VITE_OIDC_REDIRECT_URI=http://localhost:5173/signin-oidc
VITE_OIDC_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/signout-callback-oidc
VITE_OIDC_SCOPES="email profile roles offline_access openid identity.manage"
VITE_API_BASE_URL=/api
